
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: transparent url("./pictures/pokertable.jpg") no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}


button{
    height: 50px;
    width: fit-content;
    padding: 10px 30px 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 0 3px 1px rgba(141, 255, 175, 0.5);
    border-radius: 10px;
}

.layout{
    position: absolute;
    top:25%;
    left: 46%;
    text-align: center;
    padding: 1rem;
    
}

.cartasJugador{
    position: absolute;
    bottom:32%;
    left: 46%;
    text-align: center;
    padding: 1rem;
}

.wrapper{
    margin: auto;
    width: fit-content;
}

.cards{
    display: flex;
    gap: 10px;
}

.card{
    height: 96px;
    width: 60px;
    border: 2px solid black;
    padding-top: 20px;
    border-radius: 10px;
    font-size: 1.8rem;
    text-align: center;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
}

.card[data-red=true]{
    color: red;
}


.back{
    content: "";
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnAKic1BxmVw4t3jFdF9MrqLWSpHL3T5Sx5g&usqp=CAU");
    background-position: center;
    background-size: cover;
}

.container{
    position: absolute;
    bottom: 0;
    left: 16%;
    text-align: center;
    padding: 1rem;

}

.button{
    background-color: rgb(252, 138, 9);
}

.background{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.5);
}

.notice{
    height: fit-content;
    width: fit-content;
    padding: 5%;
    background: white;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.notice p{
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    line-height: 150%;
}