*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: transparent url("./pictures/pokertable.jpg") no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
}


button{
    height: 50px;
    width: fit-content;
    padding: 10px 30px 10px;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 0 3px 1px rgba(141, 255, 175, 0.5);
    border-radius: 10px;
}

.layout{
    position: absolute;
    top:25%;
    left: 44%;
    text-align: center;
    padding: 1rem;
    
}

.cartasJugador{
    position: absolute;
    bottom:32%;
    left: 44%;
    text-align: center;
    padding: 1rem;
}

.wrapper{
    margin: auto;
    width: fit-content;
}

.cards{
    display: flex;
    gap: 10px;
}

.card{
    height: 120px;
    width: 85px;
    border: 2px solid black;
    padding-top: 22px;
    border-radius: 10px;
    font-size: 2.8rem;
    text-align: center;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
}

.card[data-red=true]{
    color: red;
}


.back{
    content: "";
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnAKic1BxmVw4t3jFdF9MrqLWSpHL3T5Sx5g&usqp=CAU");
    background-position: center;
    background-size: cover;
}

.container{
    position: absolute;
    bottom: 0;
    left: 15%;
    text-align: center;
    padding: 1rem;
    
}

.button{
    background-color: rgb(129, 126, 123);
}


#message, #playermoney {
    color: rgb(255, 255, 255);
}


.bodyIndex {
    background-image: url("https://i.pinimg.com/originals/22/68/1e/22681edfb09c06fc9edc7e5a76f34904.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

form{
    margin-top: 80px;
    background: rgba(255, 255, 255, 0.918);
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255m 0.8);
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



form .grupo{
    position: relative;
    margin: 30px;
}

input{
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: inline-block;
    width: 100%;
    border: none;
    border-bottom: 1px solid;
}

input:focus{
    outline: none;
}



.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #70e1f5, #ffd194);
    transition: 0.3s ease width;
    left: 0;
    
}

input:focus~.barra::before{
    width: 100%
}


.botonIniciar{
    background: linear-gradient(to right, #70e1f5, #ffd194);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: rgb(8, 8, 8);
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

@media screen and (max-width:500px) {
    .form{
        width:80%
    }
}

.nombreInicio{
    color: rgb(238, 105, 16);
}


.playermoney{
    font-size: 2rem;
}

.linkJS{
    font-size: 1.3rem;
    color: #f71810;
    text-decoration: none
}

.parrafoLink{
    color: aliceblue;
}

.textoLink{
    color: #f71810;
}